$color:#333399;
div{

  font-size: 28px;
  .animation{
    h1{
      margin: auto;
       font-size: 50px;

         color:#333399;
         margin-left: 200px;
         animation: type 5s steps(22);
         animation-iteration-count: 100;
         overflow:hidden;
         white-space:nowrap;
         letter-spacing: 3px;
    }
  }
  h2{
    color:$color;
    margin-left: 280px;
    font-size:50px;
  }

}
%messages {

  font-size:25px;
}
.success {
  @extend %messages;
  color:green;
}
.danger {
    @extend %messages;
    color:red;
}
.warning {

    @extend %messages;
    color: orange;

}
